
<div class="container">

  
    <header>
      <div class="brand">
        <h1>WeatherNow</h1>
        <img src="/assets/img/logo.png" alt="logo">
      </div>
    </header>

    <app-search (searchEmitt)="onSearch($event)" ></app-search>

    <div class="content-climate" *ngIf="!(climateCurrent | isEmpty)">
      <app-card-weather-current [weatherCurrent]="climateCurrent" (reload)="getClimateCurrentByName($event)"></app-card-weather-current>

      <app-forecast-container [weatherList]="forecast.list"></app-forecast-container>
    </div>
    


  

</div>